<ion-content>
  <div class="wrapper">
    <h1 class="wrapper__title">Create an account</h1>
    <form class="wrapper__signup-form">
      <input
        class="wrapper__signup-form__field"
        type="text"
        placeholder="username"
      />
      <input
        class="wrapper__signup-form__field"
        type="text"
        placeholder="password"
      />
      <input
        class="wrapper__signup-form__field"
        type="text"
        placeholder="confirm password"
      />
      <input
        class="wrapper__signup-form__field"
        type="text"
        placeholder="email"
      />
      <button class="wrapper__signup-form__button">Sign Up</button>
    </form>
  </div>
</ion-content>
