<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
      <input type="text" placeholder="username" />
      <input type="text" placeholder="password" />
      <input type="text" placeholder="confirm password" />
      <input type="text" placeholder="email" />
      <button>Sign Up</button>
    </form>
  </div>
</ion-content>
